{
  "env": {
    "production": {
      "presets": ["react-app"],
      "ignore": ["**/*.story.js", "**/*.test.js", "**/tests/*", "**/stories/*"]
    },
    "test": {
      "presets": ["react-app"]
    },
    "cjs": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions"],
              "node": "current"
            }
          }
        ],
        "stage-2",
        "react"
      ],
      "ignore": ["**/*.story.js", "**/*.test.js", "**/tests/*", "**/stories/*"]
    }
  }
}
